.addicts {
  font-size:80%;
  font-family:'Courier New', Courier, monospace;
  text-align-last: center;
  word-spacing: 40px;
  color:rgb(11, 29, 14);
  bottom:70px;
 }
 
 .quote {
  top:0px;
  font-size: 800%;
  font-family:'Courier New', Courier, monospace;
  word-spacing: 40px;
  color:rgb(11, 29, 14);
 }

 .numbers {
  padding:10px;
  font-size:200%;
  font-family:'Courier New', Courier, monospace;
  text-align-last: center;
  color:rgb(11, 29, 14);
 }


 .fixed {
  position: fixed;
  color:lightcoral;
  font-size:200%;
  width:50%;
  height:750px;
  left:25%;
  bottom:50px;
} 

.site {
  position: fixed;
  bottom: 10px;
  right: 20px;color:lightcoral;
  font-size:10px;
  font-family:'Courier New', Courier, monospace;
}

p {
    font-size: 100%;
    color: rgb(244, 228, 195);
    padding: 6px;
    text-align-last: center;
    padding:100px;
}

.special {
    font-size: 80%;
    font-family:'Courier New', Courier, monospace;
    margin: 10px;
}


h1 {
    color:rgb(11, 29, 14);
    font-family:'Courier New', Courier, monospace;
    text-align-last:center;
    font-size: 20px;
  }

  ol {
    font-size: 90%;
    font-family:'Courier New', Courier, monospace;
    text-align-last:center;
    color:rgb(11, 29, 14);

  }

  body {
    background: rgb(36, 99, 49);
    background-size: 200px;
    text-align-last: center;
}


