body {
    color:rgb(226, 206, 184);
    background-color:rgb(129, 150, 129);
    text-align-last: center;
    font-family: monospace;
    
}
h1 {
    font-size: 600%;

}
h2 {
    color:rgb(0, 0, 0);
}
p {
    color: rgb(0, 0, 0);
    font-size: 90%;
}