body {
    color:rgb(226, 206, 184);
    background: rgb(115, 142, 121) center fixed;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align-last: center;
    padding: 120px;
    margin-top: 5px;
}

.head {
    margin-bottom: 1rem;
    background: transparent;
    padding: .2rem;
    border: 1px solid;
    color: inherit;
    border-radius: 3px;
}

p {
    color: rgb(162, 172, 162);
    padding: 5px;
    font-size: 90%;
}

.reading {
    color:rgb(74, 74, 74);
    font-size: 80%;
    font-family: monospace;
}

h1 {
    font-size: 250%;
}

h2 {
    font-size: 80%;
    color:antiquewhite transparent;
    margin-top:4%
}

h3 {
    color:rgb(74, 74, 74);
    font-family: monospace;
    font-size: 80%;
    margin-bottom:4%;
}

h4 {
    color:rgb(63, 76, 66);
    font-size: 100%;
    margin-bottom: 4rem;
    background:rgb(100, 107, 102);
    padding: .6rem;
    border: 1px solid rgb(162, 172, 162);
    color: inherit;
    border-radius: 3px;
}

.home {
    position: fixed;
    bottom: 10px;
    right: 20px;
    color:rgb(63, 76, 66);
    font-size:20px;
    font-family:'Courier New', Courier, monospace;
  }