* {
    box-sizing: border-box;
}

body {
    margin:0px;
    background-color:rgb(255, 255, 255);
    overflow: hidden;
    max-width:100vw;
    max-height:100vh;
    
}

.clouds {
    position: fixed;
    top: 30px;
    left: 100px;
    animation: cloud 25s infinite linear;
}

.cloud1 {
    left:800px;
    top:10px;
}

.cloud2 {
    left:800px;
    top:10px;
}

.cloud3 {
    position: absolute;
    right:70px;
    left: 800px;
    top:10px;
}

.cloud4 {
    position: absolute;
    right:1000px;
    top:10px;   
}

.cloud5 {
    position: absolute;
    right:400px;
    top:10px;
}

.cloud6 {
    position: absolute;
    left:100px;
    top:10px;
}

.sky {
    position: absolute;
    height: 462px;
    animation: sky 13s infinite linear;
    background-image:url(image/longbackground.jpg);
    width:100%;
}

.ground {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 414px;
    animation: sky 13s infinite linear;
    background-image:url(image/ground.jpg);
    width:100%;
}

.bikeframe {
    position:fixed;
    left:45%;
    right:52%;
    bottom:50%;
    top:38.2%;
}


.wheels {
    display:flex;
    width:100vw;
    height:100vh;
    align-items:center;
    justify-content:center;
    gap:84px;
    position:fixed;
}

.leftwheel {
    width:61px;
    height:61px;
    animation: spin 1s infinite linear;
}

.rightwheel {
    width:61px;
    height:61px;
    animation: spin 1s infinite linear;
}



@keyframes spin {
    0% {
        transform:rotate(0);
    }
    
    100% {
        transform:rotate(359deg);
    }
}


@keyframes cloud {
    0% {
        transform:translateX(100vw);
    }
    100% {
        transform:translateX(0);
    }
}

@keyframes sky {
    0% {
        background-position:0 0;
        /* transform:translateX(100vw); */
    }
    100% {
        background-position:150% 0;
        /* transform:translateX(0); */
    }
}

